body {
    background-color: #333;
    font-size: 27px;
    font-family: "Roboto";
    color: #ffffff;
    margin: 10px;
}

h1 {
    font-family: "Impact", fantasy, sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size: 45px;
    margin: 0px;
    padding: 0px;
    color: #ff0000;
}

a:link, a:visited {
    color: #00ff00;
    font-weight: bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    color: #ff0000; 
    font-weight: bold;
    text-decoration: underline;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #008000;
    display: flex;
    align-items: center;
    justify-content: center;

}

page{
    background-color: #333;
    
}

container{
    background-color: #333;
}

bodyblock{
    color: #ff0000;
}
