.header {
    background-color: #333;
    padding: 20px;
    text-align: left;
    justify-content: space-between;
    font-size: 146px;
    display: flex;
    color: #990000;
}
.header .title {
    font-family: Impact, sans-serif;
}
.header img {
    width: 100px;
    height: 100px;
    margin-right: 35px;
}

.header a {
    color: #ff0000;
}

.header a:hover {
    color: #990000;
}

.custom-menubar {
    display: flex;
    justify-content: flex-end;
}

.custom-menubar .ui-menuitem-text {
    font-family: Impact, sans-serif;
    color: lightcyan;
    text-decoration: none;
    font-size: 40px;
    padding: 10px 20px;
}

.custom-menubar .ui-menuitem-text:hover {
    background-color: #990000;
    color: lightcyan;

}

body .ui-menu.ui-menubar {
    padding: 0.5rem;
    background: #006400;
    border-radius: 4px;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
        color: lightcyan;
}
body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-active>.ui-menuitem-link .ui-menuitem-text {
        color: lightcyan;
}